<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API tests" verbose="1">
    <test name="First Scenario">
        <classes>
            <class name="FinalProject.FinalProject_FirstScenario"/>
        </classes>
    </test>

    <test name="Second Scenario">
        <classes>
            <class name="FinalProject.FinalProject_SecondScenario"/>
        </classes>
    </test>

    <test name="Negative Cases">
        <classes>
            <class name="FinalProject.FinalProject_NegativeCases"/>
        </classes>
    </test>


</suite>